$primary-color: black;
$secondary-color: #454545;
$tertiary-color: #e7e7e7;
$white-color: #fff;


body {
    background-color: $primary-color;
    font-size: 1.2 em;
    width: 50%;
    margin: 20px auto; 
    padding: 20px;
    text-align: center;
    min-height: 50vh;
}

#songList {
    background: $tertiary-color;
    border-radius: 10px;
    text-align: left;
}

li {
    padding: 20px;
}

li:hover, i:hover { 
    cursor: pointer;
}

#controls {
    border: 1 px $secondary-color solid;
    border-radius: 10px;
    background-color: $tertiary-color;
    padding: 1.5em;
}

i {
    color: $secondary-color;
}

h4 {
    color: $white-color;
}

progress {
    width: 80%;
    margin: 10px;

}

.white {
    color: $white-color;
}

a, p {
   color: $white-color;
}

#volume {
    color: $secondary-color
}